@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Inter:wght@400;600&family=Roboto+Slab:wght@600;700&display=swap');

body {
    margin: 0px 0px 0px 0px;
}

.HomeStack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
        align-content: center;
        flex-wrap: nowrap;
}

.hero {
    color: white;
    outline: none;
}

.heropic {
    height: 100%;
    width: 100%;
}

.hero-elements {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
}

.heroslogan {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 650%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.herotext {
    margin: 0px;
}

.hero-links {
    justify-content: center;
    font-family: "Roboto";
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.hero-button {
    font-family: "Roboto" ;
    font-weight: 700;
    border: none;
    background-color: inherit;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    color: #ffffff;
}
  
.hero-button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3.5px;
    bottom: 0;
    left: 0;
    background-color: #f60010;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hero-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 1600px) {
    .heroslogan {
        font-family: "Roboto Slab";
        font-weight: 700;
        font-size: 500%;
        display: flex;
        justify-content: center;
        text-align: center;
    
    }

    .hero-links {
        justify-content: center;
        font-family: "Roboto";
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 25px;
    }
    
    .hero-button {
        font-family: "Roboto" ;
        font-weight: 700;
        border: none;
        background-color: inherit;
        font-size: 25px;
        cursor: pointer;
        position: relative;
        color: #ffffff;
    }

}

@media (max-width: 1000px) {
    .heroslogan {
        font-size: 60px;
    }
}

@media (max-width: 1250px) {
   .hero-elements {
    top: 15%;
   }
}

@media (max-width: 900px) {
    .heropic {
        height: 950px;
        object-fit: cover;
    }
    .hero-elements {
        top: 30%;
       
    }
    .uvm {
        display: none;
    }
}

@media (max-width: 720px) {
    .HomeStack {
        width: 100%;
    }

}

