@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/** { outline: red dashed 1px; }*/

/** Standard-CSS **/
.navbar {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 10000;
}

.navLogo-Small {
    display: none;
}

.sticky {
    position: fixed;
}

.navbar-links {
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button-text {
    font-family: "Roboto" ;
    font-weight: 700;
    border: none;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: #282828;
    
  }

.button-text:hover {
    color: #2b7bc5;
    transition: color 0.25s ease-in-out;
}

.button-text-grey {
    font-family: "Roboto" ;
    font-weight: 700;
    border: none;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: #818181; 
}

.button-text-grey:hover {
    color: #4198E9;
    transition: color 0.25s ease-in-out;
}

/**Responsive-CSS-Adjustments**/
@media (max-width:1200px) {
    .navLogo {
        height: 37.5px;
        width: 183.65599060058594px;
        background-color: #ffffff;
        padding: 0px calc(8px + 1.5625vw) 0px 30px;
        
    }
}

@media (min-width:1200px) {
    .navLogo {
        height: 37.5px;
        width: 183.65599060058594px;
        background-color: #ffffff;
        padding: 0px 40% 0px 30px;
        
    }
}

@media (max-width:730px) {
    .navbar {
        display:grid;
    }
    .navLogo {
        padding:0px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width:480px) {
    .navLogo-Small {
        display: flex;
    }
    
    .button-text-grey {
        display: none;
    }
    .navLogo {
        display: none;
    }
    
}